* {
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

.header_nav_main_container {
    width: 100%;
    height: 15vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_left {
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.nav_left>h2 {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    /* font-weight: bolder; */
    text-transform: uppercase;
}

.Main_span_color {
    color: #FF42A5;
}

.nav_right {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    /* text-decoration: none; */
}

.nav_right>li>a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    /* font-family: Work Sans; */
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header_nav_box {
    width: 250px;
    height: 50px;
    background-color: #E7E6E9;
    border-radius: 5px;
}

.header_nav_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_box>h3 {
    color: #3C354F;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 15px;
}

.nav_box_icon>a>img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.head_banner_container {
    width: 90%;
    height: 85vh;
    /* background-color: aqua; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.head_banner_left {
    width: 48%;
    height: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_para {
    width: auto;
    height: auto;
    /* background-color: red; */
}

.main_head {
    color: #0B0223;
    /* text-align: center; */
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.color_head {
    font-family: Work Sans;
    font-size: 90px;
    font-style: normal;
    font-weight: 800;
    color: purple;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.head_banner_right {
    width: 48%;
    height: 100%;
    /* background-color: burlywood; */
}

.banner_para>p {
    margin-bottom: 15px;
}

.main_btn {
    width: 130px;
    height: 50px;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    margin-right: 25px;
    border: 0px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}

.head_banner_right>img {
    width: 100%;
    height: 100%;
}


.online_game_container {
    /* margin-top: 100px; */
    width: 95%;
    height: 70vh;
    /* background-color: aqua; */
    margin: 0px auto;
    margin-top: 100px;
}

.online_game_container>h3 {
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    font-weight: bolder;
}

.online_game_container>p {
    text-align: center;
    margin-top: 15px;
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
}

.online_card{
    width: 100%;
    height: 100%;
    /* background-color: wheat; */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
}

.box1{
    width: 100%;
    height: 100%;
    /* background-color: bisque; */
}

.inner_box1{
    width: 100%;
    height: 85%;
   background-image: url('../images/Rectangle\ 4.png');
    background-repeat: no-repeat;
    background-size: cover; 
}

.inner_box2{
    background-image: url('../images/Rectangle\ 5.png');
}
.inner_box3{
    background-image: url('../images/Rectangle\ 6.png');
}
.inner_box4{
    background-image: url('../images/Rectangle\ 7.png');
}

.test{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #E7E6E9;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* opacity: 0.7; */
}

.hide{
    visibility: hidden;
}

.inner_box1 > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.inner_box1:hover .hide{
    visibility: visible;
}

.inner_box1:hover{
    opacity: 0.4;
}

.double_pic_main_box{
    width: 95%;
    height: 65vh;
    /* background-color: aqua; */
    margin: 0px auto;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.double_pic_left{
    /* background-color: bisque; */
    width: 50%;
    height: 100%;
    position: relative;
}

.double_pic_right{
    /* background-color: coral; */
    width: 40%;
    height: 100%;
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
}

.d_box{
    /* background-color: #3C354F; */
}

.d_box > h3{
    font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 60px; /* 125% */
font-weight: bold;
/* color: #FF42A5; */
margin-bottom: 15px;
}
.s1{
    color: #F948B2;
}
.s2{
    color: #8758F1;
}

.double_pic_left > img{
    width: 70%;
    height: 85%;
}

.d_l_img{
    position: absolute;
    height: 250px;
    width: 250px;
    /* background-color: #8758F1; */
    bottom: 0px;
    left: 50%;
    margin: 10px;
}

.d_l_img > img{
   width: 95%;
   height: 95%;
   margin: 10px;
}

.main_double_pic_box{
    width: 95%;
    height: 70vh;
    /* background-color: #E7E6E9; */
    margin: 0px auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_double_pic_box{
    width: 80%;
    height: 45%;
    /* background-color: aquamarine; */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,auto);
}

.g1{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.g1:hover{
    /* background-color: #3C354F; */
    color: #FF42A5;
    border-radius: 50px;
    border: 1px solid #FF42A5;
    cursor: pointer;
}


/* Footer Section */
.last{
    width: 100%;
    height: 60vh;
    background-color:#0B0223;
    text-align: center;
 color: white;
 /* margin-bottom: 50px; */
}
.last_head{
  /* margin-top: 50px; */
  /* height: 60px;
  width: 100px; */
  padding-top: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* background-color: #57117f; */
}

.last_head > h3{
    font-size: 50px;
    font-weight: bolder;
}

.last_grid{
    width: 80%;
    height: auto;
    /* background-color: aqua; */
    margin: 0px auto;
    margin-top: 30px;
    text-align: center;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(6,1fr);
    /* margin-top: 5px; */
}

.last_grid > h6{
    margin-top: 5px;
    font-size: 18px;
}

.last_grid_pic{
    width: 50%;
    height: auto;
    /* background-color: bisque; */
    margin: 0px auto;
    margin-top: 50px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6,1fr);
}

.last_grid_pic > button{
    width: 100%;
    height: 80%;
    background-color: transparent;
    border: 0px;
    border-radius: 20px;
   
}

.last_grid_pic > button > img{
    width: 50%;
    height: auto;
    /* background-color: white; */
    /* border-radius: 50%; */
}


.last_para{
    width: 70%;
    height: auto;
    /* background-color:#534C64; */
    margin: 0px auto;
    margin-top: 50px;
    display: grid;
    grid-gap: 15px;
    text-align: center;
    grid-template-columns: repeat(4,1fr);
}

.mp{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}




@media screen and (max-width : 576px) {
    .header_nav_main_container {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .nav_right {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .nav_left {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .head_banner_container {
        flex-direction: column-reverse;
        height: auto;
    }

    .head_banner_left {
        width: 100%;
        height: 47%;
    }

    .head_banner_right {
        width: 100%;
        height: 47%;
    }

    .online_game_container{
        width: 97%;
        height: 450vh;
        margin: 0px auto;
    }
    .online_card{
        grid-template-columns: repeat(1,1fr);
    }

    .inner_box1:hover .hide{
        visibility: visible;
    }
    
    .double_pic_main_box{
        height: auto;
        flex-direction: column-reverse;
        /* background-color: aqua; */
    }
    .double_pic_right{
        text-align: center;
        margin-bottom: 50px;
    }
    .double_pic_left, .double_pic_right{
        width: 100%;
        height: auto;
    }
    
    .d_l_img{
        width: 40%;
        height: 40%;
    }
    .double_pic_left > img{
        margin-left: 20px;
    }

    .d_l_img{
        bottom: -10%;
    }

    .main_double_pic_box{
        width: 100%;
        height: 100vh;
        margin: 0px;
        /* background-color: aqua; */
        margin-top: 50px;
    }

    .sub_double_pic_box{
        width: auto;
        height: auto;
        /* background-color: aquamarine; */
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2,auto);
    }

    .last{
        height: 140vh;
    }
    .last_grid > h6{
        font-size: 13px;
    }

    .last_grid{
        grid-template-columns: repeat(3,1fr);
    }

    .last_grid_pic{
        grid-template-columns: repeat(3,1fr);
    }

    .last_para{
        grid-template-columns: repeat(2,1fr);
    }

}